spring:
  application:
    name: order-service

server:
  port: 8085

# Downstream Services
services:
  inventory:
    url: http://localhost:8086

# J-Obs Configuration
j-obs:
  enabled: true
  path: /j-obs

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always

# Logging Configuration
logging:
  level:
    io.github.jobs: DEBUG
    io.github.jobs.samples: DEBUG
